# Hidden Files
.*
!.gitignore

# Credentials
.credentials

# Python
*.pyc
__pycache__/

# Temporary Items
*.tmp
*.tmp.*

# Virtual Environments
Env/
venv/
env/

# Notebooks
**/.ipynb_checkpoints/

# VSCode
.vscode/

# Pycharm
.idea/

# Pypi files
build/
dist/

# Training data

training_data/

# Trained models
*.h5